

body {
    margin: auto;
    width: 50%;
    background-image: url(../odin-recipes/images/background);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

div.bigbtn {
    display: inline-block;
    background-color: limegreen;
    border-radius: 20px;
    padding: 10px;
    
}

.btntxt, a.recipe-button {
    text-decoration: none;
}

img {
    display: block;
    margin: auto;
    height: auto;
    width: 60%;
 }

 h1 {
    text-align: center;
 }

 div.btn-border {
    margin: auto;
    width: 50%;
    
 }

 ul {
    display: flex;
    list-style: none;
 }

 li {
    margin: 10px;
    display: inline-block;
    background-color: limegreen;
    padding: 10px;
    border-radius: 20px;
    
 }